--extra-index-url https://pytorch.org
streamlit==1.35.0
torch==2.2.2
torchvision==0.17.2
numpy<2.0.0
opencv-python-headless==4.9.0.80
scipy==1.12.0
pyvista==0.43.3
trame==3.5.2
trame-vtk==2.8.0
trame-client==2.12.0
